div{
    background-color: lightcyan;
    height: 100px;
    text-align: center;
}
h1{
    margin: 0px;
    padding: 25px;
}
.cerrarSesion{
    color: white;
    position:absolute;
    right:10%;
    top:5%;
    background-color: red;
    border: solid 1px white;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}