<div>
    <form [formGroup]="form" (submit)="sendData()">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/OOjs_UI_icon_userAvatar.svg/1200px-OOjs_UI_icon_userAvatar.svg.png" class="iconUser">
        <h3>REGISTER</h3>
        <div>
            <label name="FullName">Full Name: </label>
            <input type="text" placeholder="FullName" name="FullName" formControlName="name">
        </div>
        <div>
            <label name="username">Username: </label>
            <input type="text" placeholder="username" name="username" formControlName="username">
        </div>
        <div>
            <label name="email">Email: </label>
            <input type="text" placeholder="email" name="email" formControlName="email">
        </div>
        <div>
            <label name="password">Password: </label>
            <input type="password" placeholder="password" name="password" formControlName="password">
        </div>
        <div>
            <label name="passwordConfirmation">Password confirmation: </label>
            <input type="password" placeholder="passwordConfirmation" name="passwordConfirmation" formControlName="confirm">
        </div>
        <div>
            <label name="acceptConditions">Acepto los terminos y condiciones </label>
            <input type="checkbox" name="acceptConditions" formControlName="acceptConditions">
        </div>
        <div>
            <p *ngIf="form.valid">Datos completos :)</p>
            <p *ngIf="!form.valid">Datos incompletos :(</p>
        </div>
        <div>
            <!-- <button [disabled]="form.invalid">SignUp</button> -->
            <button class="signup">SignUp</button>
        </div>
        <div>
            <span class="invalid" *ngIf="invalidEmail"> The email address is already use</span>
            <span class="invalid" *ngIf="form.errors && form.errors['passwordMisMatch']"> Password don't match</span>
            <div>
                <span class="valid" *ngIf="succesfullyAdd">User was succesfully registered...</span>
            </div>
            <div>
                <span class="valid" *ngIf="succesfullyAdd">Please go to login</span>
            </div>
        </div>
        <div class="haveAccount">
            Have an account? <a routerLink="/login">LogIn</a>
        </div>
    </form>
</div>
