<div class="mainDiv">
    <form (submit)="login()">
        <h3>LOGIN</h3>
        <img src="https://cdn-icons-png.flaticon.com/512/154/154345.png" class="loginIcon">
        <div>
            <label for="Email">Email: </label>
            <input type="text" [(ngModel)]="credentials.email" name="Email" placeholder="Email">
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="text" [(ngModel)]="credentials.password" name="password" placeholder="Password">
        </div>
        <div>
            <button class="login">LogIn</button>
        </div>
        <div>
            Don't have an account? 
            <a routerLink = "/signup">Sign up here!</a> 
        </div>
    </form>
</div>
